*{
    background-color: aquamarine;
}

#title{
    color: red;
    text-align: center;
}
.container, #pg1{
    box-sizing: border-box;
    padding-right: 5pc;
    padding-left: 5pc;
}
#poly{
    border-style: dotted;
    border-radius: 100pc;
    border-color: brown;
    height: auto;
    width: auto;
}


#poly1{
   align-items: baseline;
}